body{
  margin: 0;
  padding: 0;
  font-family: Merriweather;
}
.header-container{
    background-image: url('../images/banner.png');
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 600px;
    border-radius: 16px;
    
}
.party-greetings{
  position: absolute;
  bottom: 0;
  top: 130px;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  margin: auto;
}
.new-year{
color: #f0d1d1;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
margin-bottom: 0;
}
.new-year-party{
color: #e93939;
text-align: center;
font-size: 72px;
font-weight: 900;
line-height: 85px; 
margin-top: 0px;
}

/* Discount Section */
.discount{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount-percentage{
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0px;
}
.discount-day{
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 0;
}
.discount-category{
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 50px;
}
.discount-column-2{
  width: 800px;
  height: 500px;
}
.discount-image{
  margin-top: 0px;
}

/* Welcome section */
.welcome-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.welcome-background{
  background-image: url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  color: rgb(241, 241, 241);
}
.welcome-greetings{
padding-left: 130px;
padding-top: 130px;
}
.welcome-title{
  color: #FFF;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 0;
  }
.welcome-message{
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  margin-top: 24px;
}
.button{
color: #FFF;
margin-left: 20px;
background-color: black;
font-size: 30px;
font-weight: bold;
border: 1px solid blue;
}

/* Party location div */

